@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.navBar{
  background: linear-gradient(180deg, #0F669C -31.43%, #0A3651 168.57%);
}
.navlinks{
  color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
display: flex;
flex-direction: column;
align-items: center;
}
/* .navlinks::after{
  content:'';
  width: 14px;
height: 1px;
border-width: 1px;
margin-top: 0.25rem;
opacity: 0;
}
.navlinks.active::after{
  content:'';
  width: 14px;
height: 1px;
border-width: 1px;
opacity: 1;
margin-top: 0.25rem;
} */
